a{
  background-color: blue;
  color: red;
  font-size: large;
}
  
  
p{
  background-color: blue;
  color: red;
  font-size: large;
  }
  

lu{
  background-color: blue;
  color: red;
  font-size: large;
}
